<!--
Elijah Maret
IT 328
1/21/2020
Dating Website

formProfile.html

This file acts is the view for the profile creation form for my Dating 2 assignment

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- My Css -->
    <link rel="stylesheet" type="text/css"
          href="styles/styles.css">
    <link rel="stylesheet" type="text/css"
          href="styles/form.css">

    <title>Profile</title>

    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="images/heart.jpg">

</head>
<body>
<header class="navbar bg-light mx-4 mb-4"><a href = "home" class="text-secondary">Galactic Dating Website</a></header>
<div class="container border rounded">

    <!-- New Background check on top of form -->

    <form action="#" method="post" id="formProfile" class="">  <!--Elijah Edit: Added id to form -->
        <h3><strong>Profile</strong></h3>
        <hr class="my-4">

        <fieldset class="form-group col-md-6 float-md-right">
            <div class="form-row ">
                <div class="form-group col-md-12">
                    <label for="biography"><strong>Biography</strong></label>
                    <textarea class = "form-control" id="biography" name="biography">{{@profile['biography']}}</textarea>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group col-md-6">
            <!--General Information Section-->


            <div class="form-row">
                <!--email-->
                <div class="form-group col-md-12">
                    <label for="email"><strong>Email</strong></label>
                    <input type="email" class="form-control" id="email" placeholder="" name="email"
                                value = "{{@profile['email']}}">
                </div>
                <check if="{{ @errors['email'] }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check><br><br>

                <div class="form-group col-md-12">
                    <label for="state"><strong>State</strong></label>
                    <select id="state" name="state" class="form-control">  <!-- Elijah Edit: Fixed the state dropdown to have a value for Washington-->
                        <repeat group="{{ @states }}" value="{{ @currentState }}">
                            <option value="{{ @currentState }}"

                            <check if="{{ @profile['state'] == @currentState}}">
                                selected='selected'
                            </check>
                            >{{ @currentState }}</option>
                        </repeat>
                    </select>
                    <check if="{{ @errors['state'] }}">
                        <span class="err">{{ @errors['state'] }}</span>
                    </check><br><br>
                </div>

                <!--Seeking-->
                <div class="form-group col-md-12">
                    <label><strong>Seeking</strong></label><br>
                    <repeat group="{{ @genders }}" value="{{ @currentGender }}">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                   name="seeking"
                                   id="seeking-{{ @currentGender }}"
                                   value="{{ @currentGender }}"
                            <check if="{{ @profile['seeking'] == @currentGender }}">
                                checked='checked'
                            </check>
                            >
                            <label class="form-check-label" for="seeking-{{ @currentGender }}">{{ @currentGender }}</label>
                        </div>

                    </repeat>
                    <check if="{{ @errors['seeking'] }}">
                        <span class="err">{{ @errors['seeking'] }}</span>
                    </check><br><br>


                </div>


            </div>



        </fieldset>


        <div class = "text-right p-2">
            <button id="submit" type="submit" class="btn btn-primary">
                Next >
            </button>
        </div>

    </form>



</div>
</body>
</html>