<!--
Elijah Maret
IT 328
1/21/2020
Dating Website

formPersonal.html

This file acts is the view for the interests form for my Dating 2 assignment

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- My Css -->
    <link rel="stylesheet" type="text/css"
          href="styles/styles.css">
    <link rel="stylesheet" type="text/css"
          href="styles/form.css">

    <title>Interests</title>

    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="images/heart.jpg">

</head>
<body>
<header class="navbar bg-light mx-4 mb-4"><a href = "home" class="text-secondary">Galactic Dating Website</a></header>
<div class="container border rounded">

    <!-- New Background check on top of form -->

    <form action="summary" method="post" id="formProfile" class="">  <!--Elijah Edit: Added id to form -->
        <h3><strong>Interests</strong></h3>
        <hr class="my-4">

        <fieldset class="form-group col-md-12">
            <p><strong>In-Door Interests</strong></p>
            <div class="form-row form-group container">
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="tv" value="tv">
                    <label class="form-check-label" for="tv">
                        TV
                    </label>
                </div>

                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="movies" value="movies">
                    <label class="form-check-label" for="movies">
                        Movies
                    </label>
                </div>


                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="cooking" value="cooking">
                    <label class="form-check-label" for="cooking">
                        Cooking
                    </label>
                </div>

                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="boardgames" value="boardgames">
                    <label class="form-check-label" for="boardgames">
                        Board Games
                    </label>
                </div>
            </div>

            <div class="form-row form-group container">
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="puzzles" value="puzzles">
                    <label class="form-check-label" for="puzzles">
                        Puzzles
                    </label>
                </div>

                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="reading" value="reading">
                    <label class="form-check-label" for="reading">
                        Reading
                    </label>
                </div>

                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="cards" value="cards">
                    <label class="form-check-label" for="cards">
                        Playing Cards
                    </label>
                </div>

                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="indoorInterests[]" id="videogames" value="videogames">
                    <label class="form-check-label" for="videogames">
                        Videogames
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group col-md-12">
            <p><strong>Out-Door Interests</strong></p>
            <div class="form-row form-group container">
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="hiking" value="hiking">
                    <label class="form-check-label" for="hiking">
                        Hiking
                    </label>
                </div>

                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="biking" value="biking">
                    <label class="form-check-label" for="biking">
                        Biking
                    </label>
                </div>

                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="swimming" value="swimming">
                    <label class="form-check-label" for="swimming">
                        Swimming
                    </label>
                </div>

                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="collecting" value="collecting">
                    <label class="form-check-label" for="collecting">
                        Collecting
                    </label>
                </div>


            </div>

            <div class="form-row form-group container">
                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="walking" value="walking">
                    <label class="form-check-label" for="walking">
                        Walking
                    </label>
                </div>

                <div class="form-check col-md-3">
                    <input class="form-check-input" type="checkbox" name="outdoorInterests[]" id="climbing" value="climbing">
                    <label class="form-check-label" for="climbing">
                        Climbing
                    </label>
                </div>
            </div>



        </fieldset>



        <div class = "text-right p-2">
            <button id="submit" type="submit" class="btn btn-primary">
                Next >
            </button>
        </div>

    </form>



</div>
</body>
</html>