<!--
Elijah Maret
IT 328
1/21/2020
Dating Website

formPersonal.html

This file acts is the view for the interests form for my Dating 2 assignment

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- My Css -->
    <link rel="stylesheet" type="text/css"
          href="styles/styles.css">
    <link rel="stylesheet" type="text/css"
          href="styles/form.css">

    <title>Interests</title>

    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="images/heart.jpg">

</head>
<body>
<header class="navbar bg-light mx-4 mb-4"><a href = "home" class="text-secondary">Galactic Dating Website</a></header>
<div class="container border rounded">

    <!-- New Background check on top of form -->

    <form action="#" method="post" id="formProfile" class="">  <!--Elijah Edit: Added id to form -->
        <h3><strong>Interests</strong></h3>
        <hr class="my-4">

        <fieldset class="form-group col-md-12">
            <p><strong>In-Door Interests</strong></p>
            <div class="form-row form-group container">
                <repeat group="{{ @indoorInterestsAll }}" value="{{ @interest }}">
                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" name="indoorInterests[]"
                               id="{{ @interest }}"
                               value="{{ @interest }}"
                        <check if="{{ isset(@interests['indoorInterests']) && in_array(@interest, @interests['indoorInterests']) }}">
                            checked='checked'
                        </check>
                        >
                        <label class="form-check-label" for="{{ @interest }}">
                            {{ @interest }}
                        </label>
                    </div>
                    <check if="{{ @interest == @indoorInterestsAll[3] }}">
                        </div>

                        <div class="form-row form-group container">
                    </check>
                </repeat>


            </div>
            <check if="{{ @error['indoorInterest'] }}">
                <span class="err">{{ @error['indoorInterest'] }}</span>
                <br><br>
            </check>
            <check if="{{ @warning['indoorInterestZero'] }}">
                <span class="warn">{{ @warning['indoorInterestZero'] }}</span>
                <br><br>
            </check>

        </fieldset>

        <fieldset class="form-group col-md-12">
            <p><strong>Out-Door Interests</strong></p>
            <div class="form-row form-group container">
                <repeat group="{{ @outdoorInterestsAll }}" value="{{ @interest }}">
                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" name="outdoorInterests[]"
                               id="{{ @interest }}"
                               value="{{ @interest }}"
                        <check if="{{ isset(@interests['outdoorInterests']) && in_array(@interest, @interests['outdoorInterests']) }}">
                            checked='checked'
                        </check>
                        >
                        <label class="form-check-label" for="{{ @interest }}">
                            {{ @interest }}
                        </label>
                    </div>
                    <check if="{{ @interest == @outdoorInterestsAll[3] }}">
                        </div>

                        <div class="form-row form-group container">
                    </check>

                </repeat>

            </div>
            <check if="{{ @error['outdoorInterest'] }}">
                <span class="err">{{ @error['outdoorInterest'] }}</span>
                <br><br>
            </check>
            <check if="{{ @warning['outdoorInterestZero'] }}">
                <span class="warn">{{ @warning['outdoorInterestZero'] }}</span>
                <br><br>
            </check>



        </fieldset>

        <check if="{{ @error['interestZero'] }}">
            <span class="err">{{ @error['interestZero'] }}</span>
        </check><br><br>


        <div class = "text-right p-2">
            <button id="submit" type="submit" class="btn btn-primary">
                Next >
            </button>
        </div>

    </form>



</div>
</body>
</html>