<!--
Elijah Maret
IT 328
1/16/2020
Dating Website

home.html

This file acts as a homepage for my dating website assignment

-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- My Css -->
    <link rel="stylesheet" type="text/css"
          href="styles/styles.css">


    <title>Dating 1</title>

    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="images/heart.jpg">

</head>
<body>
<header class="navbar bg-light mx-4 mb-4"><a href = "home" class="text-secondary">Galactic Dating Website</a></header>
<div class = "container border rounded " id="main">
    <div class="row align-items-center" >

        <div class="col-md-6">
            <h1 >Dating website</h1>
            <p class="lead">Welcome to the best dating site in the galaxy! At <strong>Galactic Dating Website</strong> you'll meet
            many other like minded individuals. We have the highest success rate of couples on GalNet.
            User's are matched by interest, location, and compatible species. Find out why so many others have found love on our site!</p>
            <h5>Here's what our users are saying about us.</h5>
            <hr class="my-4">
            <p class = "alien offset-1"><strong class ="normal">"</strong>Hurrah Huzzah! I truly love this site! I've been so lonely after the apocalypse wiped out
                my entire race except for me. But now I've met up with a scientist who may be able to find dna of my lost brothers and sisters and clone them back to life!
                This website saved my species!<strong class ="normal">"</strong>  <strong class="normal">---  Zorgabalosizum</strong></p>


            <p class = "droid offset-1"><strong class="droid-begin">&lt;Acknowledging Review Request&gt;</strong>
                                <br> <strong class="droid-init">&lt;Initiate Emotion Protocal&gt;</strong>
                                <br> "I <strong class="command">&lt;Postive Emotion&gt; </strong> this site! I feel so <strong class="command">&lt;Postive Adjective&gt;</strong> when using it"  <br> --- D.O.M.I.N. Droid BAc-353-23
                                <br> <strong class="droid-begin">&lt;Review Complete&gt;</strong>
                                <br> <strong class="droid-init">&lt;Disabling Emotion Protocal&gt;</strong>
            </p>
            <p class = "normal offset-1"> "It's very good"  <strong> --- Harold</strong></p>
            <hr class="my-4">
            <div class="mx-auto p-4 text-center">
                <a class="btn btn-primary btn-lg" href="#" role="button">Create a Profile!</a>
            </div>
        </div>

        <div class = "col-md-6 p-3">
            <img src="images/friendly.png" alt ="Friendly" class="float-right rounded">
        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>